.parvez{position: relative;left: 110px;width: 195px;}
.sazzad1{position:relative;left: 225px;height: 325px;}
.sazzad2{font-size:75px;}
.sazzad3{}
.parvez1{position: relative;font-size: 18px;line-height: 26px;left: 226px;top:-135px;color:#4F1451;}
.sazzad4{height:240px;}
.sazzad5{position: relative;top: -127px;font-family: impact;left: 192px;font-size: 36px;color:red;}
.sazzad6{position:relative;left:30px;top: -110px;width: 670px;}
.sazzad7{position:relative;width:400px;left:175px;font-size:20px;top:-35px;color:#001451;}
.sazzad8{height:750px;}
.sazzad9{position:relative;top:-80px;font-size:30px;left:50px;font-family:impact;}
.sazzad10{position:relative;width: 575px;left:135px;top:-67px;}
.sazzad11{position:relative;top:107px;font-size: 18px;font-family:sans-serif;line-height: 22px;left: -34px;}
.sazzad12{position:relative;top:135px;font-size:35px;}
.sazzad13{height:500px;}
.sazzad14{}
.sazzad15{}
.sazzad16{position: relative;font-size: 24px;font-family: sans;color:#001451}
.sazzad17{position:relative;top:18px;font-size:16px;line-height: 27px;font-family:sans;color:#001451;}
.sazzad18{}
.sazzad19{position: relative;font-size: 24px;font-family: sans;color:#001451}
.sazzad20{position:relative;top:18px;font-size:16px;line-height: 27px;font-family:sans;color:#001451}
.sazzad21{position: relative;top:-6px;}
.sazzad22{position: relative;font-size: 24px;font-family: sans;top: -20px;color:#001451;}
.sazzad23{position:relative;top:-28px;font-size:16px;line-height: 27px;font-family:sans;color:#001451}
.sazzad24{}
.sazzad25{position: relative;width:385px;top: -115px;right: 12px;}
.sazzad26{position: relative;width:333px;top: -100px;}
.sazzad27{position: relative;width:384px;top: -166px;}
.sazzad28{}
.sazzad29{position:relative;top:-150px;left: 410px;font-size:27px;color:#001451;}
.sazzad30{}
.sazzad31{position: relative;width: 170px;top: -96px;left: 175px;}
.sazzad32{position: relative;width:140px;top:-96px;left:50px;}
.sazzad33{position:relative;width: 185px;top:-95px;left:-108px;}
.sazzad34{}
.sazzad35{position: relative;top:-38px;left: 136px;width: 257px;}
.sazzad36{position:relative;width:200px;left:60px;top:-35px;}
.sazzad37{position: relative;top: -117px;width: 185px;left: -75px;}
.sazzad38{height:300px;}
.sazzad39{position: relative;left: 221px;top: -65px;width: 110px;}
.sazzad40{height: 300px;}
.sazzad41{position: relative;left: 455px;font-size: 33px;color:#4F1451;}
.sazzad42{height:300px;}
.sazzad43{width: 381px;position: relative;top: 55px;left: 108px;}
.sazzad44{width: 345px;position: relative;top: 45px;left: 20px;}
.sazzad45{}
.sazzad46{position:relative;top:-143px;width:383px;left:110px;}
.sazzad47{position:relative;top:-150px;width:260px;left:61px;}
.sazzad48{}
.sazzad49{position: relative;left: 465px;top: -19px;font-family: impact;color:#001451;}
.sazzad50{}
.sazzad51{}
.sazzad52{}
.sazzad53{}
.sazzad54{}
.sazzad55{}
.sazzad56{}
.sazzad57{}
.sazzad58{}
.sazzad59{}
.sazzad60{}
.sazzad61{}
.sazzad62{}
.sazzad63{}
.sazzad64{}
.sazzad65{}
.sazzad66{}
.sazzad67{}
.sazzad68{height:300px;}
.sazzad69{position: relative;top: 200px;left: 263px;font-family:goudy stout;color:#000000;}
.sazzad70{}
.sazzad71{position: relative;font-family:cooper;left:155px;font-size: 41px;color:#001351;}
.sazzad72{position:relative;left:50px;font-size:13px;color:#001351}
.sazzad73{width:200px;margin-left:50px;}
.sazzad74{position: relative;top:54px;left: -86px;font-size: 17px;color:#001351}
.sazzad75{position: relative;top:70px;left: -86px;font-size: 13px;color:#001351}
.sazzad76{width: 1283px;height: 500px;}
.sazzad77{position: relative;top: 110px;left: 200px;font-family:wide latin;color:#001351;}
.sazzad78{}
.sazzad79{position: relative;top: 138px;left: 152px;color:#001351;font-size: 37px;line-height: 37px;;}
.sazzad80{position: relative;top: 150px;left: 166px;font-size: 16px;color:#001351;}
.sazzad81{width:200px;margin-top: 155px;}
.sazzad82{position: relative;top:164px;left: -196px;font-size:20px;line-height: 22px;color:#001351;}
.sazzad83{position: relative;top: 190px;left: -196px;font-size: 13px;line-height: 22px;color:#001351;}
.sazzad84{}
.sazzad85{position: relative;left: 380px;top: 55px;font-family: impact;word-spacing: 15px;font-size: 67px;}
.sazzad86{}
.sazzad87{position: relative;top: 75px;left: 236px;}
.sazzad87p{position: relative;top:75px;left:395px;}
.sazzad88{width: 505px;height: 400px;}
.sazzad89{position:relative;top:115px;left:-87px;width:735px;}
.sazzad90{background: #000;width: 1233px;margin-left: -63px;}
.sazzad91{position: relative;left: 315px;font-family:elephant;color:white;font-size: 48px;}
.sazzad92{background: #000;margin-left:-63px;width:1233px}
.sazzad93{position: relative;left: 114px;line-height:40px;color: white;}
.sazzad94{position: relative;left: 114px;line-height: 24px;font-size: 14px;color: white;}
.sazzad95{position: relative;left:15px;top:-5px;width:250px;}
.sazzad96{position: relative;left: -75px;top: 40px;line-height: 20px;color: white}
.sazzad97{position: relative;left: -75px;top: 40px;line-height: 20px;font-size: 15px;color: white}
.sazzad98{background:#000;width:1233px;margin-left:-63px;}
.sazzad99{position: relative;top:110px;left: 110px;font-size:26px;color: white;}
.sazzad100{position: relative;top: 140px;left: 110px;font-size: 13px;line-height: 22px;color: white;}
.sazzad101{position:relative;left:15px;top:95px;width:250px;}
.sazzad102{position: relative;left: -77px;top: 138px;font-size: 15px;line-height: 24px;color: white;}
.sazzad103{position:relative;top:167px;right:70px;font-size:12px;line-height:22px;text-transform:uppercase;
	color: white;}
.sazzad104{background: #000;width:1233px;margin-left:-63px;}
.sazzad105{position:relative;top:255px;left:75px;color:white}
.sazzad106{position: relative;top: 255px;left: 75px;font-size:14px;line-height:25px;color: white}
.sazzad107{position:relative;left:15px;top:255px;width:250px}
.sazzad108{position: relative;top: 306px;left: -73px;font-size: 15px;line-height: 22px;color: white;}
.sazzad109{position: relative;top: 306px;left: -73px;font-size: 15px;line-height: 28px;color: white;}
.sazzad110{background:#000;height:650px;width:1233px;margin-left:-63px;}
.sazzad111{position: relative;top:370px;left:35px;font-size:39px;color:white;}
.sazzad112{position: relative;top: 390px;left: 40px;font-size:17px;color: #FFF;}
.sazzad113{position: relative;left:15px;top: 350px;width: 250px;}
.sazzad114{position: relative;top: 395px;left: -62px;line-height: 20px;font-size: 13px;color: white;}
.sazzad115{position:relative;top:418px;left:-62px;font-size:13px;line-height:22px;color:white;}
.border-top{border-top 1px solid}